.main {
    padding: 1.5rem;
}

.contact__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.contact__link-img {
    width: 3rem;
}

.linkedin {
    width: 7rem;
}

.top {
    background-color: var(--grey-strong);
    box-shadow: 0 13px 13px #000;

    font-size: 1.5rem;

    clip-path: circle();
    padding: 1rem;
    position: fixed;
    bottom: 2rem;
    right: 1rem;

    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(100%);
}
.top:hover {
    background-color: var(--grey-hard);
    color: var(--grey-soft);
    filter: drop-shadow(0 0 3px #000);
}

.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
